
<particles class="backgroundparticles" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<mat-card class=main>
  <mat-card-title>
    Staff
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class=content>
    <br> Peter
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <button mat-fab color="primary"></button>
    <br>

    <br>
    <mat-divider></mat-divider>
    <br> Donators
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br> Admins
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br> Mods
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <button mat-fab color="primary"></button>
    <br>
    <br>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>

